In [2]:
#importing splinter Beautitfulsoup, and pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager
import sys

In [3]:
#Splinter set up
executable_path = {'executable_path': ChromeDriverManager().install()}

#browser = Browser('chrome', **executable_path, headless=False)
browser = Browser('chrome')

[WDM] - Downloading: 100%|████████████████████████████████████████████████████████| 6.46M/6.46M [00:00<00:00, 38.8MB/s]

## Visit Nasa Site

In [4]:
#Mars News Site
url = 'https://redplanetscience.com/'
browser.visit(url)

browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [5]:
html = browser.html
news_soup = soup(html, 'html.parser')

#print(news_soup.prettify())

In [6]:
slide_elem = news_soup.select_one('div.list_text')

In [7]:
#display current title
slide_elem.find('div',class_='content_title')

In [8]:
#use the parent element to find the first a tag and save it as 'news title'\
news_title = slide_elem.find('div',class_='content_title').get_text()
news_title

"NASA's Perseverance Rover Bringing 3D-Printed Metal Parts to Mars"

In [9]:
#use the parent element to find the paragraph text
news_p = slide_elem.find('div',class_='article_teaser_body').get_text()
news_p

"For hobbyists and makers, 3D printing expands creative possibilities; for specialized engineers, it's also key to next-generation spacecraft design."

### JPL Space images Featured Images

In [10]:
#visit URL to website 
url='https://spaceimages-mars.com'
browser.visit(url)

In [13]:
#find and locate the full image button to be able to scrape it
full_image_link = browser.find_by_tag('button')[1]
full_image_link.click()

In [16]:
#Filter through the resulting html with soup
html = browser.html
image_soup = soup(html, 'html.parser')
#print(image_soup.prettify())

In [19]:
image_url_rel = image_soup.find('img', class_='fancybox-image').get('src')

In [21]:
#find relative image url link
image_url_rel

'image/featured/mars2.jpg'

In [23]:
#Use the base url to create and absolute url
image_url = f'https://spaceimages-mars.com/{image_url_rel}'
image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts

In [36]:
#Use pd.read_html to find data from the mars/earth comaprison table
#use index 0 to find the table
df = pd.read_html('https://galaxyfacts-mars.com/')[0]
df.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [37]:
df.columns=['Description','Mars','Earth']
df

               Description             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [39]:
df.set_index('Description',inplace=True)
df

                                    Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [40]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

### Hemispheres

In [45]:
url = 'https://marshemispheres.com/'
browser.visit(url)

In [50]:
#Create list to store images and titles
hemisphere_image_urls = []

#Get list fo all of the spheres
links = browser.find_by_css('a.product-item img')

#loop through those links, click the link, find the sample anchor, return href
for i in range (len(links)):
    #hemisphere info dictionary
    hemisphereInfo = {}
    
    
    #find the elements on each loop to avoid a stale element
    browser.find_by_css('a.product-item img')[i].click()
    
    #find the image anchor tag and take href
    sample = browser.links.find_by_text('Sample').first
    hemisphereInfo["image_url"] = sample['href']
    
    #Get Hemipshere title
    hemisphereInfo['title'] = browser.find_by_css('h2.title').text
    
    
    #Appened object to list
    hemisphere_image_urls.append(hemisphereInfo)
    
    #navigate back to the top to reset loop and get next data
    browser.back()

In [51]:
hemisphere_image_urls

[{'image_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'image_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'image_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'image_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [52]:
browser.quit()